.artifacts:
  artifacts:
    expire_in: 1 week
    paths:
    - build/*/app/*.click

stages:
  - lint
  - build
  - deploy

before_script:
  - git config --global --add safe.directory /builds/theopenstore/openstore-app/plugins/PamAuthentication
  - git config --global --add safe.directory /builds/theopenstore/openstore-app
  - git submodule update --init --recursive

check:
  stage: lint
  image: bhdouglass/openstore-app-tools
  script:
    - ./tools/docker/run-docker-tools.sh check-all

build-arm64-focal:
  extends: .artifacts
  image: clickable/ci-20.04-arm64
  rules:
    - if: $CI_COMMIT_TAG == null
  script:
    - clickable build
  stage: build

build-armhf-focal:
  extends: .artifacts
  image: clickable/ci-20.04-armhf
  rules:
    - if: $CI_COMMIT_TAG == null
  script:
    - clickable build
  stage: build

build-amd64-focal:
  extends: .artifacts
  image: clickable/ci-20.04-amd64
  rules:
    - if: $CI_COMMIT_TAG == null
  script:
    - clickable build
  stage: build

build-arm64-next:
  extends: .artifacts
  image: clickable/ci-utnext-arm64
  rules:
    - if: $CI_COMMIT_TAG == null
  script:
    - clickable build
  stage: build

build-armhf-next:
  extends: .artifacts
  image: clickable/ci-utnext-armhf
  rules:
    - if: $CI_COMMIT_TAG == null
  script:
    - clickable build
  stage: build

build-amd64-next:
  extends: .artifacts
  image: clickable/ci-utnext-amd64
  rules:
    - if: $CI_COMMIT_TAG == null
  script:
    - clickable build
  stage: build

publish-arm64-focal:
  extends: .artifacts
  image: clickable/ci-20.04-arm64
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - clickable build
    - clickable publish "$CI_COMMIT_MESSAGE"
  stage: deploy

publish-armhf-focal:
  extends: .artifacts
  image: clickable/ci-20.04-armhf
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - clickable build
    - clickable publish
  stage: deploy

publish-amd64-focal:
  extends: .artifacts
  image: clickable/ci-20.04-amd64
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - clickable build
    - clickable publish
  stage: deploy
