[Desktop Entry]
Name=OpenStore
Exec=openstore %u
Icon=openstore/openstore.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#292929
